html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #adadad;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #adadad;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* glob */
.lst-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.section__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.section__descr {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

/* header */
.header {
  position: relative;
  z-index: 20;
}

.header__line1 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 150px;
  justify-content: space-between;
  background-color: #000;
}

.menu-burger {
  padding: 38px 0 50px 50px;
  width: 100%;
  height: 100vh;
  background-color: #000;
  flex-direction: column;
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
  transition: transform .3s ease-in, visibility .3s ease-in;
  transform: translateX(-101%);
  z-index: 30;
}

.menu-burger__close-btn {
  margin-bottom: 30px;
}

.menu-burger__nav {
  flex-direction: column;
}

.menu-burger--active {
  transform: none;
  visibility: visible;
}

.menu-burger__lnk {
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  color: #fff;
}

.menu-burger__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu-burger__btn {
  display: none;
  outline-offset: 5px;
}

.menu-burger__icon--active {
  display: none;
}

.menu-burger__btn:focus {
  outline: 2px solid #9d5cd0;
}

.menu-burger__btn:active .menu-burger__icon--active {
  display: inline;
}

.menu-burger__btn:active .menu-burger__icon--default {
  display: none;
}

.header-logo__wrapper {
  width: 22%;
}

.header__menu1 {
  width: 46.75%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-menu1__item:nth-child(1) {
  margin-left: -7px;
}

.header-menu1__item:nth-child(2),
.header-menu1__item:nth-child(3),
.header-menu1__item:nth-child(4),
.header-menu1__item:nth-child(5) {
  padding-left: 10px;
}

.header-menu1__item,
.header__login {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.header__login {
  padding: 1px 6px;
  padding-left: 26px;
  background-image: url('../img/login.svg');
  background-position: 6px center;
  background-repeat: no-repeat;
  transition: background-image .2s ease-in-out, color .2s ease-in-out;
}

.header-login__wrapper {
  width: 31.25%;
  justify-content: flex-end;
  align-items: center;
}

.header-menu1__lnk {
  padding: 2px 6px;
  transition: color .2s ease-in-out;
}

.header-menu1__lnk:focus:not(:active),
.header__login:focus:not(:active),
.artists-dropdown__btn:focus:not(:active):not(.artists-dropdown__btn--active) {
  background-color: #7943a4;
}

.header-menu1__lnk:hover,
.header__login:hover {
  color: #c283f3;
}

.header-menu1__lnk:active {
  color: #7943a4;
}

.header__login:hover {
  background-image: url('../img/login-hover.svg');
}

.header__login:active {
  background-image: url('../img/login-active.svg');
  color: #9d5cd0;
}

.header__line2 {
  padding-top: 21px;
  padding-bottom: 23px;
  padding-right: 150px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__menu2 {
  margin-left: -8px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65.88%;
}

.artists-dropdown__btn {
  display: flex;
  align-items: center;
  padding: 1px 6px;
  padding-right: 22px;
  cursor: pointer;
  color: #fff;
  transition: color .2s ease-in-out, background-image .2s ease-in-out;
}

.artists-dropdown__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.artists-dropdown__btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 5px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.artists-dropdown__btn:hover:not(.artists-dropdown__btn--active) {
  color: #9d5cd0;
}

.artists-dropdown__btn:active,
.artists-dropdown__btn--active {
  color: #7943a4;
}

.artists-dropdown__btn--active::after {
  transform: rotate(-45deg) translateY(4px);
}

.artists__lst {
  flex-direction: column;
}

.artists-dropdown {
  position: relative;
}

.artists-dropdown__content {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 40px;
  padding-right: 20px;
  left: 6px;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  transition-property: opacity, visibility;
  transition-duration: .4s, 0s;
  transition-delay: 0s, .4s;
}

.artists-dropdown__content .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.artists-dropdown__content .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

.artists-dropdown__content-wrap {
  width: 240px;
  max-height: 240px;
}

.artists-dropdown__content--active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s, 0s;
}

.artist__item {
  width: 220px;
  background-size: cover;
  background-repeat: no-repeat;
}

.artist__item:not(:last-child) {
  margin-bottom: 20px;
}

.artist__lnk {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background-origin: border-box;
  transition: border-color .3s ease;
}

.artist__lnk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease;
}

.artist__name {
  position: relative;
}

.artist__lnk:hover,
.artist__lnk:focus {
  outline: none;
  border-color: #9d5cd0;
}

.artist__lnk:active::before {
  opacity: 1;
}

.tintoretto__item {
  background-image: url('../img/tintoretto-bg.jpg');
}

.friedrich__item {
  background-image: url('../img/friedrich-bg.jpg');
}

.leonardo__item {
  background-image: url('../img/leonardo-bg.jpg');
}

.verrocchio__item {
  background-image: url('../img/verrocchio-bg.jpg');
}

.monet__item {
  background-image: url('../img/monet-bg.jpg');
}

.sisley__item {
  background-image: url('../img/sisley-bg.jpg');
}

.manet__item {
  background-image: url('../img/manet-bg.jpg');
}

.renoir__item {
  background-image: url('../img/renoir-bg.jpg');
}

.van-gogh__item {
  background-image: url('../img/van-gogh-bg.jpg');
}

.cezanne__item {
  background-image: url('../img/cezanne-bg.jpg');
}

.gauguin__item {
  background-image: url('../img/gauguin-bg.jpg');
}

.seurat__item {
  background-image: url('../img/seurat-bg.jpg');
}

.kandinsky__item {
  background-image: url('../img/kandinsky-bg.jpg');
}

.marinetti__item {
  background-image: url('../img/marinetti-bg.jpg');
}

.malevich__item {
  background-image: url('../img/malevich-bg.jpg');
}

.picasso__item {
  background-image: url('../img/picasso-bg.jpg');
}

.carra__item {
  background-image: url('../img/carra-bg.jpg');
}

.pratella__item {
  background-image: url('../img/pratella-bg.jpg');
}

.severini__item {
  background-image: url('../img/severini-bg.jpg');
}

.balla__item {
  background-image: url('../img/balla-bg.jpg');
}

.header__search {
  padding-right: 30px;
  min-width: 250px;
  align-items: center;
}

.header__btn-search {
  margin-right: 9px;
}

.header__btn-search svg rect,
.header__btn-search svg path {
  transition: fill .2s ease-in-out;
}

.header__btn-search:hover svg rect,
.header__btn-search:hover svg path {
  fill: #c283f3;
}

.header__btn-search:active svg rect,
.header__btn-search:active svg path {
  fill: #7943a4;
}

.header__input-search {
  display: inline-block;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  transition: border-bottom .2s ease-in-out;
}

.header__input-search:focus,
.header__input-search:active {
  border: none;
  outline: none;
  border-bottom: 1px solid #7943a4;
}

.header__input-search:hover:not(:focus):not(:active) {
  border-bottom: 1px solid #c283f3;
}

.menu-burger-login__wrapper {
  padding: 19px 88px 22px 88px;
  width: fit-content;
  margin-top: auto;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
}

.header-search__wrapper {
  align-items: center;
}

.header-menu__search {
  margin-right: 5px;
}

.search-form {
  align-items: center;
  opacity: 0;
  width: 0;
  height: 36px;
  background: #000;
  transition: width .2s ease-in-out, opacity .2s ease-in-out;
}

.search-form--active {
  width: 314px;
  opacity: 1;
}

.search-form__fld {
  margin-right: 5px;
  width: 100%;
  border: none;
  color: #fff;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.search-form__close-btn:active svg rect,
.header-menu__search:active svg rect {
  fill: #9d5cd0;
}

.header-menu__search:active svg path {
  stroke: #9d5cd0;
}

@media screen and (max-width: 1450px) {
  .header-login__wrapper {
    width: 20%;
  }

  .header__menu1 {
    width: 58%;
  }
}

@media screen and (max-width: 1024px) {
  .header__line1 {
    padding: 29px 45px 25px 50px;
    align-items: center;
  }

  .header-logo__wrapper {
    width: 188px;
  }

  .menu-burger__btn {
    display: inline-block;
  }

  .header__menu1,
  .header__line2,
  .header-login__wrapper {
    display: none;
  }
}

/* hero */
.section__hero {
  position: relative;
  padding-top: 63px;
  min-height: 630px;
}

.hero__swiper-container {
  position: absolute;
  top: -170px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #d1ad7e;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hero__swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__slide1 {
  background-image: url('../img/hero-bg1.jpg');
}

.hero__slide2 {
  background-image: url('../img/hero-bg2.jpg');
}

.hero__slide3 {
  background-image: url('../img/hero-bg3.jpg');
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero__title,
.hero__descr,
.hero__btn {
  position: relative;
  color: #fff;
  z-index: 15;
}

.hero__title {
  margin: 0;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  max-width: 579px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  padding: 17px 35px;
  height: 70px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background: #9d5cd0;
  border-radius: 100px;
  outline: none;
  transition: outline .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__btn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: none;
  border-radius: 100px;
}

.hero__btn:focus:not(:active):not(:hover)::before {
  outline: 2px solid #d1a9f0;
  border: 2px solid #fff;
}

.hero__btn:hover,
.hero__btn:active {
  outline: 3px solid #d1a9f0;
}

.hero__btn:active {
  background-color: #7943a4;
}

@media screen and (max-width: 1024px) {
  .section__hero {
    padding-top: 105px;
  }

  .hero__descr {
    margin-top: -10px;
    margin-bottom: 133px;
    max-width: 661px;
  }

  .hero__slide1 {
    background-image: url('../img/hero-bg1-1024.jpg');
  }

  .hero__slide2 {
    background-image: url('../img/hero-bg2-1024.jpg');
  }

  .hero__slide3 {
    background-image: url('../img/hero-bg3-1024.jpg');
  }
}

/* about */
.section__about {
  padding-top: 80px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .section__about {
    padding-top: 120px;
    padding-bottom: 52px;
  }
}

/* gallery */
.section__gallery {
  padding: 80px 160px;
  background-position: center;
  background-size: cover;
  background-image: url('../img/gallery-bg.jpg');
  margin-bottom: 80px;
  color: #fff;
}

.gallery__left-pane,
.gallery__checkbox-wrapper,
.gallery__filter-wrapper {
  flex-direction: column;
}

.gallery__content {
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__left-pane {
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-bottom: 18px;
  color: #fff;
}

.gallery__filter-container {
  display: inline-block;
}

.gallery__filter-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 8px;
}

.gallery__filter-container > .choices,
.gallery__filter-container > .choices > * {
  background: none;
  background-color: transparent;
}

.gallery__filter-container > .choices,
.gallery__filter-container > .choices > .choices__inner,
.gallery__filter-container > .choices > .choices__list--dropdown {
  border-radius: 6px;
  border: 1px solid #fff;
}

.gallery__filter-container > .choices {
  position: relative;
  width: 100%;
  height: 40px;
}

.gallery__filter-container > .choices > .choices__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 3px 0 15px 15px;
  border: none;
  min-height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.gallery__filter-container > .choices > .choices__inner > .choices__list--single {
  position: relative;
  padding-top: 0;
}

.gallery__filter-container > .choices > .choices__inner > .choices__list--single::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 14px;
  left: calc(100% - 26px);
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.gallery__filter-container > .choices.is-open > .choices__inner > .choices__list--single::after {
  transform: rotate(-45deg) translateY(4px);
}

.choices__list--dropdown .choices__item.is-selected,
.choices::after {
  display: none;
}

.choices__list .choices__list--dropdown,
.choices__list[aria-expanded] {
  margin-top: 0;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 14px;
  color: #999;
}

.choices__list[aria-expanded] .choices__item:hover,
.choices__list[aria-expanded] .choices__item:focus,
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted,
.gallery__filter-container > .choices > .choices__inner:hover,
.gallery__filter-container > .choices > .choices__inner:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__checkbox-wrapper {
  margin-top: auto;
}

.gallery__check-label {
  cursor: pointer;
}

.gallery__check-label:not(:last-child) {
  margin-bottom: 15px;
}

.gallery__check-label:hover .visible-checkbox {
  border-color: #c283f3;
}

.gallery__check-label:hover .checkbox-text {
  color: #c283f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.visible-checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid #fff;
  vertical-align: middle;
  transition: border-color .3s ease;
}

.visible-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c283f3;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease;
}

.gallery__checkbox:checked ~ .visible-checkbox {
  border-color: #c283f3;
}

.gallery__checkbox:checked ~ .visible-checkbox::before {
  opacity: 1;
}

.gallery__checkbox:focus ~ .visible-checkbox {
  border-color: #c283f3;
}

.gallery__checkbox:focus ~ .visible-checkbox::before {
  background-color: #c283f3;
}

.checkbox-text {
  vertical-align: middle;
  transition: color .3s ease;
}

.gallery__checkbox:checked ~ .checkbox-text {
  color: #c283f3;
}

.gallery__checkbox:focus ~ .checkbox-text {
  color: #c283f3;
}

.gallery__swiper {
  padding-top: 25px;
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.gallery__slides-container {
  overflow: hidden;
}

.gallery__navigation {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 30px;
}

.gallery__pagination {
  margin-right: 10px;
  text-align: center;
}

.gallery__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: #527590;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

.gallery__nav-btn:focus,
.gallery__nav-btn:active {
  outline: 2px solid #000;
}

.gallery__nav-btn:hover {
  background-color: #9d5cd0;
}

.gallery__nav-btn:active {
  background-color: #7943a4;
}

.gallery__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__nav-btn.swiper-button-disabled {
  cursor: auto;
  background-color: rgba(102,102,102, 0.5);
}

.gallery__btn-prev {
  margin-right: 10px;
}

.gallery__btn-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.gallery__btn-prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery__swiper-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery__swiper-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/gallery-slide-hover.svg");
  background-repeat: no-repeat;
  background-size: 81px 79px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery__swiper-slide:hover::after {
  opacity: 1;
}

.gallery__swiper-slide:focus {
  outline: none;
}

.gallery__swiper-slide:focus::before {
  border-color: #7943a4;
}

.gallery__swiper-slide:active::before {
  border-color: #d1a9f0;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  z-index: 100;
}

.gallery__modal {
	display: none;
  position: relative;
	background-color: #fff;
	width: 900px;
	min-height: 500px;
}

.gallery-modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.gallery__modal-overlay--visible {
	opacity: 1;
	visibility: visible;
}

.gallery__modal--visible {
	display: flex;
}

.gallery-modal__img {
  width: calc(400/900*100%);
}

.gallery-modal__right-side {
  flex-direction: column;
  padding: 121px 48px 20px 50px;
}

.gallery-modal__title {
  flex-direction: column;
}

.gallery-modal__artist-name {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.gallery-modal__picture-name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.gallery-modal__period {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.gallery-modal__picture-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

@media screen and (max-width: 1024px) {
  .gallery__left-pane {
    width: calc(280/924*100%);
  }

  .gallery__filter-container > .choices > .choices__inner > .choices__list--single {
    padding-left: 0;
  }

  .gallery__filter-container > .choices > .choices__inner > .choices__list--single::after {
    left: calc(100% - 23px);
  }

  .gallery__checkbox-wrapper {
    margin-bottom: 42px;
  }

  .gallery__check-label:not(:last-child) {
    margin-bottom: 12px;
  }

  .visible-checkbox {
    margin-right: 8px;
  }

  .gallery__swiper {
    padding-top: 26px;
    width: calc(593/924*100%);
  }

  .gallery__navigation {
    padding-left: 2px;
  }

  .gallery__nav-btn {
    padding: 0;
    width: 30px;
    height: 30px;
  }

  .gallery__btn-prev {
    margin-right: 16px;
  }

  .gallery__pagination {
    margin-right: 18px;
  }

  .section__gallery {
    padding: 80px 50px;
  }

  .gallery__swiper-slide {
    max-width: 280px;
    min-height: 315px;
  }
}


/* catalog */
.section__catalog {
  margin-bottom: 80px;
}

.catalog__descr {
  margin-bottom: 42px;
}

.catalog__artists-descr {
  position: relative;
  max-width: calc(750 / 1600 * 100%);
  min-width: calc(750 / 1600 * 100%);
  margin-right: 50px;
}

.artist__descr {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  flex-direction: column;
  transition: opacity .5s ease-in-out;
}

.artist__descr--active {
  opacity: 1;
}

.artist-descr__picture,
.artist-descr__image {
  max-width: 100%;
  min-width: 100%;
  max-height: 470px;
  min-height: 470px;
}

.artist-descr__picture {
  margin-bottom: 30px;
  background-image: url('../img/artist-picture-stub.svg');
  background-repeat: no-repeat;
  background-size: 285px 262px;
  background-position: center;
}

.artist-descr__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.artist-descr__dates {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.artist-descr__text {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.artist-descr__lnk {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9d5cd0 !important;
}

.catalog__artists-nav {
  width: 50%;
}

.artists__wrapper,
.ui-accordion .ui-accordion-header,
.ui-state-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -1px;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 16px;
  border: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background: none;
  transition: border-top .2s ease-in, border-bottom .2s ease-in;
}

.artists__wrapper > * {
  z-index: 2;
}

.artists__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.artists__icon {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  background-color: #ececec;
  min-width: 50px;
  min-height: 50px;
  background-size: 11.79px 11.79px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/artists-period-closed-bg.svg');
  transition: background-image .2s ease-in, transform .3s ease-in;
}

.ui-accordion-header-active > .artists__icon {
  transform: rotate(-180deg);
}

.artists__wrapper:hover,
.artists__wrapper:focus {
  border-top: 1px solid #d1a9f0;
  border-bottom: 1px solid #d1a9f0;
}

.artists__wrapper:hover .artists__icon,
.artists__wrapper:focus .artists__icon {
  background-color: #d1a9f0;
}

.artists__epoch {
  position: relative;
  display: inline;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  transition: color .2s ease-in;
}

.ui-widget-content {
  border: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-left: 1px;
  padding-top: 25px;
  padding-right: 69px;
  max-width: 1003px;
  min-height: 340px;
  font-family: 'Open Sans';
}

.artists__wrapper:hover .artists__epoch {
  color: #9d5cd0;
}

.artists__wrapper:focus .artists__epoch {
  background-color: #9d5cd0;
  color: #fff;
}

.artists__lst {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.catalog__artist-lnk {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
  cursor: pointer;
}

.catalog__artist-lnk:focus {
  background-color: #9d5cd0;
  transition: border-bottom .2s ease-in-out;
}

.catalog__artist-lnk:hover {
  border-bottom: 1px solid #9d5cd0;
}

.artists__lst-stub {
  padding-left: 5px;
  align-items: center;
}

.artists-lst-stub__img {
  padding: 12px;
  margin-right: 24px;
  outline: 1px solid #999;
  width: 275px;
  height: 189px;
}

.artists-lst-stub__img-inside {
  width: 100%;
  height: 100%;
  background-color: #999;
}

.artists-lst-stub__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.artists-lst-stub__txt {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  max-width: 275px;
}

/* events */
.section__events {
  margin-bottom: 76px;
}

.events__title {
  margin-bottom: 10px;
}

.events__swiper {
  position: relative;
}

.events__nav-btn {
  position: absolute;
  top: calc(50% - 25px);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  background-color: #ececec;
  min-width: 50px;
  min-height: 50px;
  background-size: 11.79px 11.79px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/artists-period-closed-bg.svg');
  transition: opacity .2s ease-in-out, outline .2s ease-in-out, background-color .2s ease-in-out;
  cursor: pointer;
}

.events__nav-btn:focus,
.events__nav-btn:active {
  outline: 2px solid #9d5cd0;
}

.events__nav-btn:hover,
.events__nav-btn:active {
  background-color: #d1a9f0;
}

.events__btn-prev {
  transform: rotate(90deg);
  left: -25px;
}

.events__btn-next {
  transform: rotate(-90deg);
  right: -25px;
}

.swiper-button-disabled {
  opacity: 0;
}

.events__slides-container {
  overflow: hidden;
  padding: 1px;
}

.events__swiper-slide {
  flex-direction: column;
  padding: 318px calc(50/1600*100%) 40px calc(45/1600*100%);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-position: left top;
  max-width: 25.125%;
  min-height: 348px;
  height: auto;
  outline: 1px solid #cacaca;
}

.event__slide1 {
  background-image: url('../img/event-bg1.jpg');
}

.event__slide2 {
  background-image: url('../img/event-bg2.jpg');
}

.event__slide3 {
  background-image: url('../img/event-bg3.jpg');
}

.event__slide4 {
  background-image: url('../img/event-bg4.jpg');
}

.event__slide5 {
  background-image: url('../img/event-bg5.jpg');
}

.event__place,
.event__dates {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.event__dates {
  margin-bottom: 13px;
  padding-left: 5px;
}

.event__title {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 5px;
  max-width: 380px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.event1__title {
  margin-bottom: 5px;
}

.event__descr {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.event__lnk {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #9d5cd0;
  margin: 0;
  margin-top: auto;
  width: fit-content;
  border-bottom: 1px solid #9d5cd0;
  transition: color .2s ease-in-out, border-bottom .2s ease-in-out;
}

.event__lnk::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -2px;
  right: -8px;
  bottom: -9px;
  z-index: -1;
}

.event__lnk:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.event__lnk:focus::before {
  background-color: #9d5cd0;
}

.event__lnk:hover {
  color: #7943a4;
  border-bottom: 1px solid #7943a4;
}

.event__lnk:active {
  color: #333;
  border-bottom: 1px solid #333;
}

/* projects */
.section__projects {
  margin-bottom: 75px;
}

.projects__descr {
  margin: 0;
  margin-bottom: 20px;
  max-width: 1100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.projects__tooltip-btn {
  padding: 0;
  padding-left: 5px;
  padding-top: 3px;
  background: none;
  border: none;
}

.projects__tooltip-btn:focus .tooltip__icon-border,
.projects__tooltip-btn:hover .tooltip__icon-border {
  fill: #d1a9f0;
}

.projects__tooltip-btn:active .tooltip__icon-border {
  fill: #9d5cd0;
}

.projects__lnk {
  padding: 0;
  padding-right: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #9d5cd0;
  transition: background-color .2s ease-in-out, border-bottom .2s ease-in-out, color .2s ease-in-out;
}

.projects__lnk:focus {
  background-color: #9d5cd0;
  color: #fff;
}

.projects__lnk:hover {
  border-bottom: 1px solid #9d5cd0;
}

.projects__lnk:active {
  color: #7943a4;
  border-bottom: 1px solid #7943a4;
}

.projects-swiper__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.projects__swiper {
  position: relative;
  z-index: 1;
}

.projects__nav-btn {
  position: absolute;
  top: calc(50% - 15px);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  background-color: #ececec;
  min-width: 30px;
  min-height: 30px;
  background-size: 7.07px 7.07px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/artists-period-closed-bg.svg');
  transition: opacity .2s ease-in-out, outline .2s ease-in-out, background-color .2s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.projects__nav-btn:focus,
.projects__nav-btn:active {
  outline: 2px solid #9d5cd0;
}

.projects__nav-btn:hover,
.projects__nav-btn:active {
  background-color: #d1a9f0;
}

.projects__btn-prev {
  transform: rotate(90deg);
  left: 0px;
}

.projects__btn-next {
  transform: rotate(-90deg);
  right: 0px;
}

.projects__slides-container {
  overflow: hidden;
  padding: 5px;
  padding-left: 75px;
  padding-right: 75px;
}

.projects__swiper-slide {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 150px;
  outline: 1px solid #cacaca;
}

.projects__swiper-slide.slide-visible {
  visibility: visible;
}

.projects__image {
  width: fit-content;
  height: fit-content;
  filter: gralescale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.4;
  transition: filter .2s ease-in-out, -webkit-filter .2s ease-in-out, opacity .2s ease-in-out;
}

.projects__swiper-slide:hover .projects__image,
.projects__swiper-slide:active .projects__image {
  filter: none;
  -webkit-filter: none;
  opacity: 1;
}

.projects__swiper-slide:focus,
.projects__swiper-slide:active {
  outline: 1px solid #9d5cd0;
}

/* contacts */
.section__contacts {
  padding: 0;
  padding-top: 33px;
  border: 1px solid #cacaca;
}

.contacts__header {
  padding: 0;
  padding-left: 160px;
  padding-right: 160px;
  justify-content: space-between;
  align-items: center;
}

.contacts__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.contacts-address__details {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.contacts__form {
  align-items: center;
}

.contacts-form__item {
  display: flex;
  flex-direction: column-reverse;
}

.contacts-form__fld {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  padding-left: 24px;
  width: 270px;
  height: 50px;
  border: 1px solid #333;
  border-radius: 100px;
  transition: background-color .2s ease-in-out;
}

.contacts-form__fld.is-invalid {
  color: #999;
  border: 1px solid #d11616;
}

.just-validate-error-label {
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #d11616;
}

.just-validate-error-label[data-tooltip=true]::before {
  border: none;
}

.contacts-form__fld:hover,
.contacts-form__fld:focus {
  background-color: #ececec;
  border: 1px solid #333;
}

.contacts-form__btn {
  padding: 10.5px 31px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #9d5cd0;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
}

.contacts__address {
  flex-direction: column;
}

.contacts-socials__title {
  margin-bottom: 7px;
}

.contacts__socials {
  flex-direction: column;
}

.contacts-socials__lst {
  align-items: center;
}

.social__item {
  margin-right: 21px;
}

.social__lnk > svg {
  transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
}

.social__lnk:focus > svg,
.social__lnk:hover > svg {
  opacity: 0.5;
}

.social__lnk:active > svg {
  border-radius: 100%;
  box-shadow: 0 0 0 1px #9d5cd0;
  opacity: 1;
}

.map-container {
  width: 100%;
  height: 730px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */
.footer__container {
  padding: 50px 160px;
  justify-content: space-between;
  background-color: #000;
}

.footer__socials>.social__item:last-child {
  margin-right: 0;
}

.footer-social__lnk > svg > path {
  transition: fill .2s ease-in-out;
}

.footer-social__lnk:focus > svg > path,
.footer-social__lnk:hover > svg > path {
  fill: #fff;
}

.footer-social__lnk:active > svg > path {
  fill: #9d5cd0;
}
